

{% extends 'layouts/main_v1.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<div class='site'>
  <div class='page-title'>
    <textarea id="shake" rows="7">
    </textarea>
  </div>
   <div class='masthead'>
     Start typing.. Try using those words.
     <div class="side-1">Press 1 to insert: <span id="suggestion-1"></span></div>
      <div class="side-2">Press 2 to insert: <span id="suggestion-2"></span></div>
      <div class="side-3">Press 3 to insert: <span id="suggestion-3"></span></div>

    </div>
    <div class="main-content">
        words available: {{  words_available }}
    </div>
  <div class="sidebar">


  </div>
    <div class="colophon">
        <h1> Location:</h1>
        <p>Field of 1cm wide weeds</p>
        <p>17 montana way</p>
        <p> G8X 2K9</p>
    </div>

</div>

{% endblock %}