{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}

  <h3>Shakespeare play quadgram suggestions</h3>
  words available: {{  words_available }}

  <ul>
      {% for word in best_words %}
      <li> {{  word }}</li>
      {% endfor %}
  </ul>


  <div>
  <textarea id="shake" rows="4" cols="90"></textarea>
  <div style="background:#cec">Press 0 to insert:
    <span id="suggestion-0">nil</span></div>
  <div style="background:#beb">Press 1 to insert:
    <span id="suggestion-1">nil</span></div>
  </div>
  <div style="background:#aea">Press 2 to insert:
    <span id="suggestion-2">nil</span></div>
  </div>

  <script>

  </script>
{% endblock %}
