{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}

  <div class='brown-container'>
<p class="lead"> brown phrases  <span> <img src="/static/ico/favicon-animated-kraken.ico"> </span></p>


  {% for p in phrases %}
    <div class="discussion-container2">

      <div class="right-d"> {{  p.0 }} </div>
      <div class="right-d-ico">

          <img width=100 height=100 src="/static/img/celtic_drag1.png">
      </div>

      <div class="left-d-ico"><img width=100 height=100 src="/static/img/celtic_drag2.png"></div>
      <div class="left-d"> {{  p.1 }} </div>

    </div>

    <br/>
  {% endfor %}

  </div>
{% endblock %}
